@import "utility";

body {
	font-family: 'Roboto', Arial, sans-serif;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	padding: 0 20px;
}

.main {
	display: grid;
	@extend .container;
	padding-top: 20px;
	height: 100vh;
	background: #f9f9f9;
}

